* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-size: 18px;
}

.container{
  position: relative;
  overflow: visible;
  width:100%;
  display:contents;
}

.container h1{
font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 4px #cdbd88ae;
  font-size: 50px;
  color:rgb(74, 101, 76);
}

.container p{
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px 2px #cdbd88ae;
  font-weight: 450;
  font-style: normal;
  font-size: 13.5px;
}

#about h2{
  text-shadow: 2px 2px 4px #a1773357;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 800;
  color:rgba(60, 40, 4, 0.595);
  margin-left: 367px;
  margin-top: -22px;
}

#about p{
  margin-top: -10px;
  padding-bottom: 35px;
  width: 522px;
}

.container .divider{
  border-top: 2px dotted #518ecec0;
  width: 35%;
  margin-left: 354px;
  margin-top: 2px;
}

#education {
  display: block;
  visibility: visible;
  width:100%;
}

#education h2{
  text-shadow: 2px 2px 4px #a1773357;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 800;
  margin-left: 367px;
  color:rgba(60, 40, 4, 0.595);
}

#education h3{
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px 2px #cdbd88ae;
  font-weight: 550;
  font-style: normal;
  font-size: 14px;
  margin-left: 367px;
  margin-top: 10px;
  color:rgba(38, 26, 4, 0.958);
}

#education p{
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px 2px #cdbd88ae;
  font-weight: 450;
  font-style: normal;
  font-size: 13.5px;
  margin-top: -20px;
  margin-left: 348px;
  margin-bottom: -10px;
}

#education .edu{
  padding-bottom: 35px;
}

#education .divider{
  border-top: 2px dotted #518ecec0;
  width: 35%;
  margin-left: 354px;
  margin-top: 2px;
}

#course .sections{
  column-count: 2;
  column-width: 0px;
  column-gap: 0px;
  padding-bottom: 35px;
}

#course .sec{
  position: relative;
  margin-left: -200px;
  padding-top: .1px;
}

#course h2{
  text-shadow: 2px 2px 4px #a1773357;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 800;
  margin-left: 367px;
  color:rgba(60, 40, 4, 0.595);
}

#course h3{
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px 2px #cdbd88ae;
  font-weight:550;
  font-style: normal;
  font-size: 14px;
  margin-left: 367px;
  margin-top: 10px;
  color:rgba(38, 26, 4, 0.958);
  width:200px;
}

#course p{
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px 2px #cdbd88ae;
  font-weight: 450;
  font-style: normal;
  font-size: 13.5px;
  margin-top: -20px;
  padding-left: 18px;
  width:200px;
  padding-bottom: 10px;
}

#course .divider{
  border-top: 2px dotted #518ecec0;
  width: 35%;
  margin-left: 354px;
  margin-top: 2px;
}

.resume-button{
  position: absolute;
  margin-top: 1000px;
  bottom:20px;
}

.resume-button button {
  background-color: #518ece; /* Button background color */
  color: #fff; /* Text color */
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.resume-button button:hover {
  background-color: #3a6fb1; /* Hover state */
}


.sidebar {
  z-index: 2;
  width: 250px;
  background: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: fixed;
  height: 100%;
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

#leaves-img{
  width:25%;
  margin-top: -270px;
  margin-left: 340px;
  margin-bottom: -100px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.me-img {
  float: right;
  width: 400px;
  margin-right: 100px;
  margin-top: 70px;
  border-radius: 1%;
  border: 2px solid #555;
}

.sidebar h1 {
  margin-bottom: 30px;
}

.sidebar nav ul {
  list-style: none;
  width: 100%;
}

.sidebar nav ul li {
  margin-bottom: 20px;
  text-align: center;
}

.sidebar nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
  margin-top: 10px;
}

.sidebar nav ul li a:hover {
  background: #696767;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.main-content h1 {
  margin-left: 335px;
  padding-top: 3%;
  padding-left: 1.5%;
  margin-bottom: 50px;
}

.main-content p {
  margin-left: 350px;
  margin-right: 600px;
  padding: 20px;
  flex: 1;
}

html {
  --body-clr: #f6f9fe;
  --primary-clr: #55153cbd;
  --primary-light-clr: #eaf3fa;
  --links-clr: #93794d;
  --text-clr: #654c31;
}

body {
  width: 100%;
  min-height: 100vh;
}

.portfolio {
  margin-left: 330px;
  padding-top: 3%;
  width: 65%;
}

.portfolio .section-head {
  max-width: 700px;
  margin: 0px auto 25px;
  text-align: center;
}

.section-head h1 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 4px #cdbd88ae;
  position: relative;
  font-size: 32px;
  margin: 10px 0px 30px;
  color: var(--primary-clr);
  text-shadow: 1px 1px 2px rgba(112, 72, 139, 0.451), 0 0 1em rgba(230, 228, 221, 0.69), 0 0 0.2em rgba(220, 206, 216, 0.734);
}

.button-group {
  text-align: center;
  margin-bottom: 40px;
}

.button-group .button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  color: var(--primary-clr);
  font-style: 12px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.4s;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.button-group .button.active {
  background-color: var(--primary-clr);
  color: var(--body-clr);
}

.button-group .button:hover {
  background-color: var(--primary-clr);
  color: var(--body-clr);
}

div.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

div.gallery .item {
  position: relative;
  margin: 4px;
  width: calc(33.33% - 8px);
  overflow: hidden;
  cursor: pointer;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: 0.3s;
  border: 5px solid #555;
}

div.gallery .item:hover img {
  transform: scale(1.15);
}

.item .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(79, 14, 69, 0.223);
  color: var(--body-clr);
  padding: 15px;
  overflow: hidden;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.item:hover .overlay {
  opacity: 1;
}

.item .overlay a {
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid var(--body-clr);
  color: var(--body-clr);
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.item .overlay a:hover {
  background-color: var(--body-clr);
  color: var(--primary-clr);
}

/* blob */

.blob {
  position: fixed; /* Change to fixed */
  opacity: 0.5;
  width: 400px;
  aspect-ratio: 1/1;
  animation: animate 20s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite alternate forwards;
  filter: blur(40px);
  z-index: -1; /* Ensure the blob is behind other content */
  background: linear-gradient(
    47deg,
    rgba(212, 112, 149, 0.64) 21%,
    #e4df87bc 67%,
    rgba(203, 161, 119, 0.823) 81%
  );
  /* box-shadow: inset 50px 50px 17px 0px #ad647a,
    inset 100px 100px 17px 0px #cd9e58; */
}

@keyframes animate {
  0% {
    transform: translate(0vw, 0vh);
    border-radius: 60% 40% 30% 70% / 100% 85% 92% 80%;
  }
  25% {
    transform: translate(40vw, 10vh);
    border-radius: 50% 50% 40% 60% / 90% 60% 70% 100%;
  }
  50% {
    transform: translate(20vw, 50vh);
    border-radius: 20% 71% 47% 70% / 81% 35% 32% 54%;
    rotate: 41deg;
    scale: 1.15;
  }
  75% {
    transform: translate(-30vw, 30vh);
    border-radius: 100% 50% 92% 74% / 60% 80% 30% 70%;
  }
  100% {
    transform: translate(-40vw, -20vh);
    border-radius: 100% 75% 92% 74% / 60% 80% 30% 70%;
    rotate: -60deg;
    scale: 1.15;
  }
}


/* Project Pages */

.projects-container {
  margin-left: 340px;
  margin-right: 100px;
}

.projects-container h2{
  font-family: "Crimson Pro", serif;
  text-shadow: 2px 2px 4px #cdbd88ae;
  font-optical-sizing: auto;
  font-weight: 600;
}

.projects-container p{
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px 4px #cdbd88ae;
  font-weight: 450;
  font-style: normal;
  font-size:small;
}

.projects-content{
  background-color: #e3d3b74b;
}

.projects-content h1 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 2%;
  font-size: 40px;
}

.projects-content h2 {
  margin-top: 2%;
  margin-bottom: 5px;
}

.projects-content p {
  padding: 5px;
  flex: 1;
  margin-bottom: 20px;
}

.projects-img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  border: 5px solid #555;
  margin-bottom: 25px;
}

.projects-img1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  border: 5px solid #555;
  margin-bottom: 25px;
}

div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  width: 68vw;
  height: 85vh;
  margin-bottom: 30px;
}

div.scroll-container li{
  width: 68vw;
  height: 60vh;
}

div.scroll-container img {
  padding: 10px;
  width: 50vw;
  height: 80vh;
}

/* uxui */

div.scroll-container2 {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  width: 71vw;
  height: 85vh;
  margin-bottom: 30px;
}

div.scroll-container2 li{
  width: 68vw;
  height: 60vh;
}

div.scroll-container2 img {
  padding: 10px;
  width: 20vw;
  height: 80vh;
}

/* duck */

div.scroll-container3 {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  width: 71vw;
  height: 85vh;
  margin-bottom: 30px;
}

div.scroll-container3 li{
  width: 68vw;
  height: 60vh;
}

div.scroll-container3 img {
  padding: 10px;
  width: 25vw;
  height: 80vh;
}

/* lego */

div.scroll-container1 {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  width: 71vw;
  height: 85vh;
  margin-bottom: 30px;
}

div.scroll-container1 li{
  width: 68vw;
  height: 60vh;
}

div.scroll-container1 img {
  padding: 10px;
  width: 70vw;
  height: 80vh;
}

/* cup */

div.scroll-container4 {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  width: 71vw;
  height: 85vh;
  margin-bottom: 30px;
}

div.scroll-container4 li{
  width: 68vw;
  height: 60vh;
}

div.scroll-container4 img {
  padding: 10px;
  width: 30vw;
  height: 80vh;
}

/* lamp */

div.scroll-container5 {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  width: 71vw;
  height: 85vh;
  margin-bottom: 30px;
}

div.scroll-container5 li{
  width: 68vw;
  height: 60vh;
}

div.scroll-container5 img {
  padding: 10px;
  width: 30vw;
  height: 80vh;
}
.scroll-container5 .photo {
  padding: 10px;
  width: 50vw;
  height: 80vh;
}

/* pants */

div.scroll-container6 {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  width: 71vw;
  height: 85vh;
  margin-bottom: 30px;
}

div.scroll-container6 li {
  width: 68vw;
  height: 60vh;
}

div.scroll-container6 img {
  padding: 10px;
  width: 35vw;
  height: 80vh;
}

.scroll-container6 .photo {
  padding: 10px;
  width: 55vw;
  height: 80vh;
}

/* mario */

div.scroll-container7 {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  width: 68vw;
  height: 85vh;
  margin-bottom: 30px;
}

div.scroll-container7 li{
  width: 68vw;
  height: 60vh;
}

div.scroll-container7 img {
  padding: 10px;
  width: 60vw;
  height: 80vh;
}

.scroll-container7 .photo {
  padding: 10px;
  width: 80vw;
  height: 80vh;
}

/* contact */
.maincontent{
  width: 100vw;
  height: 100vh;
}

.contact-list {
  margin-top: 200px;
  list-style: none;
  padding: 0;
  margin-left: 550px;
}

.contact-list li {
  font-family: "Crimson Pro", serif;
  font-weight: 1000;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 150px;
  margin-top: 17px;
}

.contact-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  
}

.contact-list a {
  text-decoration: none;
  color:var(--primary-clr);
  font-size: 20px;
}

.contact-list a:hover {
  text-decoration: underline;
}

/* name */

.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

@media (max-width: 1024px) {
  div.gallery .item {
    width: calc(50% - 8px);
  }
}

@media (max-width: 600px) {
  div.gallery .item {
    width: 100%;
    margin: 4px 0px;
  }
}
